{{#if error}}
<div class="alert alert-danger">
  <strong>Error:</strong> {{error.message}}
</div>
{{/if}}

<h2>Xero, Chainpoint & Tierion Example Application</h2>

<p>This example application shows how the Tierion network can be used to anchor accounting records to provide an immutable audit trailer.</p>

<h3>How to use:</h3>
<ol>
  <li>Use the menu to view a list of your invoices</li>
  <li>Click 'view history', to see the audit history of an invoice</li>
  <li></li>
</ol>

<img class="tierion-chainpoint-diagram" alt="What is Tierion & Chainpoint" src="/images/what-is-tierion-chainpoint-xero-example.png" />

<p>Resources:</p>
<ul>
  <li>Xero API: <a href="https://developer.xero.com/">https://developer.xero.com/</a></li>
  <li>Tierion: <a href="https://tierion.com/">https://tierion.com/</a></li>
  <li>Chainpoint: <a href="https://chainpoint.org/">https://chainpoint.org/</a></li>
  <li>Xero Node SDK: <a href="https://github.com/XeroAPI/xero-node">https://github.com/XeroAPI/xero-node</a></li>
</ul>

<p>Explore the github repo: </p>
<p>Read the full blog post on medium: </p>

<p>Project created by Riley James</p>
<ul>
  <li>Twitter: <a href="https://twitter.com/RileyJamesAU">https://twitter.com/RileyJamesAU</a></li>
  <li>Medium: <a href="https://medium.com/@riley.james">https://medium.com/@riley.james</a></li>
  <li>Github: <a href="https://github.com/rjaus">https://github.com/rjaus</a></li>
  <li>Linkedin: <a href="https://www.linkedin.com/in/rileyjames/">https://www.linkedin.com/in/rileyjames/</a></li>
</ul>